.cardbody{
    height: 40vh;
    width: 18vw;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    /* padding: 1vh 1vw; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow: hidden;
    cursor: pointer;
}
.image-section{
    height: 78%;
    width: 100%;
    /* border-radius: 10px 10px 0 0 ; */
    /* background-color: blue; */
}

.details-anime{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 5% 2%;
    background-color: #111827;
    height: 22%;
    /* width: 99%; */
    & h1{
        font-size: 1rem;
        color: rgb(255, 255, 255);
    }
    & p{
        font-size: 0.8rem;
        color: #a0a0a0;
    }
}

.trending{
    height: 100vh;
    background-color: white;
    /* width: 100%; */
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trend-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1{
        color: black;
        font-size: 2rem;
        margin-bottom: 3vh;
    }
    & p{
        color: #a0a0a0;
        font-size: 1rem;
    }
    margin-bottom: 6vh;
}

.trend-cards{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 412px){
    .cardbody{
        height: 20vh;
        width: 30vw;

    }

}